<form method="post" action="{{ path('livre_audio_delete', {'id': livre_audio.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre_audio.id) }}">
    <button class="btn">Supprimer</button>
</form>
