{{ form_start(form) }}
    {{ form_widget(form) }}
<input type="hidden" id="recaptchaResponse" name="recaptcha-response">

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
